*{
  font-family: Helvetica;
}

h1,
h2,
p,
ul{
  text-align: center
}


h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

ul{
  font-size: 18px;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

#header{
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
  background-size:100%;
}

div p.footer{
  color: white;
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
}

#Logo{
  font-size: 23px;
  font-weight: bold;
}
