*{
  font-family: Helvetica;
  text-align: center;
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

ul{
  font-size: 18px;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

#header{
    background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
}
